@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1955b1;
  --primary-foreground: #ffffff;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --font-sans: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.content-width {
  max-width: 1280px;
}


@layer components {
  .hero-swiper .swiper-pagination-bullets {
    @apply !bottom-4 md:!bottom-6;
  }

  .hero-swiper .swiper-pagination-bullet {
    @apply bg-white opacity-60 w-2.5 h-2.5;
  }
  .hero-swiper .swiper-pagination-bullet-active {
    @apply opacity-100 scale-110;
  }

  .hero-swiper .swiper-button-prev,
  .hero-swiper .swiper-button-next {
    @apply top-1/2 -translate-y-1/2 text-white hover:bg-black/50  border-white/40
           p-1 w-11 h-11 grid place-items-center backdrop-blur
           transition ;
  }

  .hero-swiper .swiper-button-prev { @apply left-3 md:left-6; }
  .hero-swiper .swiper-button-next { @apply right-3 md:right-6; }

  .hero-swiper .swiper-button-prev::after,
  .hero-swiper .swiper-button-next::after {
    @apply text-[18px] md:text-[22px];
  }
}